{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-bar">
                {{ include('default/leftbar.html.twig') }}
            </div>


            <div class="col-md-9 col-xs-12 content">
                <div class="wrapper-product ">
                    {% for product in products %}
                        {{ include('default/product/list-product.html.twig', { 'product': product }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

