<ul class="nav_categories block">
    {% for parentCategory in parentCategories %}
        <li>{{ parentCategory.getName() | e }}
            <ul>
                {% for childCategory in parentCategory.getChildren() %}
                    <li><a href="{{ path('products_default_categories', {'id': childCategory.getId()}) }}">{{ childCategory.getName() | e }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>