body{
    background-color: #F5F6FA;
}

h1{
    font-size: 1.8rem;
    color:black;
}

.color {
    color: #62F9B6;
}

.title{
    background-color:#62F9B6;
    color: white;
    padding: 13px;
}

.primary-btn{
    background: #62F9B6;
    color: white;
    padding: 13px;
    opacity: 0.9;
    transition: all .5s ease;
}

.primary-btn:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
}

.btn-secondary, .btn-secondary:hover{
    background: #FF8E64;
    color: white;
    border: none;
    cursor: pointer;
}

.nav_categories{
    list-style: none;
    min-height: 100vh;
}

.block{
    background: white;
    padding: 13px;
    box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.22), 0 2px 12px 0px rgba(0, 0, 0, 0.05), 0 4px 5px -5px rgba(0, 0, 0, 0.2);
}
.nav_categories{}
nav_categories ul{
    list-style: none;
}

.nav_categories ul li a{
    color: black;
    text-decoration: none;
}
nav_categories ul li a:hover {
    text-decoration: none;
}

img{
    max-width: 100%;
}
.wrapper-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper-product .price{
    margin-bottom: 52px;
}
.item-product{
    display: flex;
    color: inherit;
}

.item-product:hover{
    color: inherit;
    text-decoration: none;
}

.item-product figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    min-height: 250px;
    padding: 13px;
    box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.22), 0 2px 12px 0px rgba(0, 0, 0, 0.05), 0 4px 5px -5px rgba(0, 0, 0, 0.2);
}

.item-product figcaption{
    text-align: center;
    padding: 13px;
    display: flex;
    flex-direction: column;
}
.item-product figure img{
    max-width: 100%;
    max-height: 260px;
}

.rates{
    border: 1px solid #e0e4e0;
    padding: 2rem;
    margin: 2rem auto;
}

.rates h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #3e3c3c;
}
.rates .item-rate{
    margin-bottom: 26px;
    border: 1px solid #e0e4e0;
    padding: 13px;
}

.rates .header-item-rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rates .date {
    color: #606263;
    width: 100%;
    display: inline-block;
}

.rates .description{
    font-size: 0.9rem;
    color: #828484;
    margin-top: 14px;

}

.price {
    color: #62F9B6;
}

#countdown{
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
}

.countdown{
    background: #62F9B6;
    color: white;
    padding: 13px;
    margin: 6px;
}

.countdown .unit{
    font-size: 0.8rem;
    margin-left: 3px;
}

.bidding-form label{
    display: none;
}

.bidding-infos{
    margin: 6px 0;
}

.history {
    border: 1px solid #e8e2e2;
    padding: 13px;
    margin: 37px 0;
}

.history-item{
    margin-bottom: 13px;
}
.history-item .username{
    text-align: right;
}

.history-item .date{
    text-align: right;
    font-size: 0.8rem;
    color: grey;
}